BasedOnStyle: WebKit
AlignEscapedNewlines: DontAlign
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
IndentCaseLabels: false
IndentCaseBlocks: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SortIncludes: false
SpaceBeforeCpp11BracedList: false
Standard: Latest
AllowShortLambdasOnASingleLine: None
Cpp11BracedListStyle: true
UseCRLF: false
UseTab: Never
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 100000
AlignOperands: DontAlign
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 0
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4 
BreakBeforeConceptDeclarations: true